.splash{
width: 40%;
margin-left: 30%;
margin-right: 30%;
padding: 10%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.splash img{
    width: 100%;
    animation: spin 2s linear infinite;
}

.loginBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 50px;
}
.loginBox >h2{
  margin-bottom: 3rem;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}